include:
  - services/mark-service/docker-compose.yml
  - services/gamification-service/docker-compose.yml
  - docker-compose.kafka.yml

services:
  traefik:
    image: traefik:v3.6.1
    environment:
      - DOCKER_API_VERSION=1.45
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
      - /etc/letsencrypt/live/realtimemap.ru:/certs:ro
      - /etc/letsencrypt/archive/realtimemap.ru:/archive/realtimemap.ru:ro
    networks:
      - web

networks:
  web:
    external: true