http:
  routers:
    auth-public:
      rule: "Host(`realtimemap.ru`) && (PathPrefix(`/api/v2/auth/`) || PathPrefix(`/api/v2/user/`) || PathPrefix(`/docs/`) || PathPrefix(`/admin/`) || PathPrefix(`/static/`))"
      entryPoints:
        - websecure
      service: auth-service
      priority: 100
      tls: {}

  services:
    # Auth service (api/v1) - доступен только для /user, /auth и ForwardAuth
    auth-service:
      loadBalancer:
        servers:
          - url: "http://realtime-map-backend:8001"

  middlewares:
    # ForwardAuth middleware для проверки Bearer токена
    # auth-service вернет 401 если токен невалиден
    # Traefik автоматически проксирует эту ошибку клиенту
    auth-check:
      forwardAuth:
        address: "http://realtime-map-backend:8001/api/v2/auth/token-validate"
        authResponseHeaders:
          - "X-User-Id"
          - "X-User-Name"
          - "X-User-Ban"
          - "X-User-Admin"
        authRequestHeaders:
          - "Authorization"
        trustForwardHeader: false

tls:
  certificates:
    - certFile: /certs/fullchain.pem
      keyFile: /certs/privkey.pem

  stores:
    default:
      defaultCertificate:
        certFile: /certs/fullchain.pem
        keyFile: /certs/privkey.pem