http:
  routers:
    default-backend:
      rule: "Host(`realtimemap.ru`)"
      entryPoints:
        - web
        - websecure
      service: backend-service
      priority: 1
      tls: {}

  services:
    backend-service:
      loadBalancer:
        servers:
          - url: "http://172.17.0.1:8001"

tls:
  certificates:
    - certFile: /certs/fullchain.pem
      keyFile: /certs/privkey.pem

  stores:
    default:
      defaultCertificate:
        certFile: /certs/fullchain.pem
        keyFile: /certs/privkey.pem
