api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":82"
    # Редирект на HTTPS (раскомментируйте если нужно)
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https

  websecure:
    address: ":443"

log:
  level: DEBUG

accessLog:
  format: common

providers:
  docker:
    exposedByDefault: false
    network: web

  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

http:
  middlewares:
    auth-check:
      forwardAuth:
        address: "http://auth:8001/api/v1/auth/token-validate"
        authResponseHeaders:
          - "X-User-Id"
          - "X-User-Name"
          - "X-User-Admin"