api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":82"
    # Редирект на HTTPS (раскомментируйте если нужно)
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https

  websecure:
    address: ":443"

log:
  level: DEBUG

accessLog:
  format: common

providers:
  docker:
    exposedByDefault: false
    network: web

  file:
    filename: /etc/traefik/dynamic.yml
    watch: true